<!doctype html><html lang="en" xmlns:th="http://www.thymeleaf.org"><head><meta charset="UTF-8"><title>Vocab Khajana</title></head><body>
<h1>Vocab Khajana</h1><p>Total words: <b th:text="${totalWords}">0</b></p><ul>
<li><a th:href="@{/getVocabs}">getVocabs.jsp → JSON</a></li><li><a th:href="@{/targetWifeRepairingReturning}">targetWifeRepairingReturning.jsp</a></li>
<li><a th:href="@{/viewVocabs}">viewVocabs.jsp</a></li><li><a th:href="@{/viewVocabsSimple}">viewVocabsSimple.jsp</a></li>
<li><a th:href="@{/viewVocabsWithDivJquery}">viewVocabsWithDivJquery.jsp</a></li><li><a th:href="@{/add-vocab}">Add vocabulary</a></li></ul></body></html>